input[type="text"] {
   
    padding-right: 2.5rem;
}

.ask_button {
    margin-left: -2.5rem;
    transition: 100ms linear;
    
}

button.ask_button:focus {
    outline:none;   
}

button.ask_button:hover {
    transform: scale(1.1);
    
}